*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
flex-direction: column;
justify-content: center;
}

nav{
    background-color: black;
  color: white;
}

.navigation{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;


}

.navigation_links{
  display: flex;
     gap: 32px;
    align-items: center;
 }

 .navigation_links li{
list-style-type: none;


 }

 .btn-login{

  border-radius:5px;
  cursor: pointer;
  
 }

   .navlink{
  text-decoration: none;
    color: white;
   }


   
   .media-title{
    text-align: center;
    padding: 32px;
   
   }

   h1,h2{
    text-align: center;
  line-height: 150px;
   
   }

   .hero-section{
    height: 150px;
    
   }

   form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 80px;
    align-items: center;
    justify-content: center;
    height: 80vh;
   border:2px solid black;
    align-self: center;
    border-radius: 8px;
   }

   form > input {
  margin-bottom: 20px;
  width: 50%;
}

   input {
  -webkit-appearance: none;
  appearance: none;
}

button,
label,
input
 {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: -moz-fit-content;
  width: fit-content;
  
  padding: 5px;
  height: 30px;
}

.error-message{
  color:red;
  padding: 16px;
}

.register-link{
  padding-top: 16px;
}

.form-title{
  padding: 32px;
  line-height: normal;
}

form label{
align-self: flex-start;
margin-left: 25%;
font-weight: bold;
}